main > section {
    padding: 50px 0;
}

.text-white {
    color: white
}

.text-grey {
    color: #77839d;
}

.bg-lightgrey {
    background-color: #f3f5f9;
}

/* header */
.nav-logo {
    max-height: 25px;
}

.my-navbar-left {
    padding-left: 100px;
}

.my-navbar {
    margin-bottom: 0;
}

.my-navbar a {
    color: #031c4e;
}

/* hero section */
.hero-section {
    background-image: url(../img/bg-banner-home.jpg);
    background-size: cover;
}

/* logo banner */
.my-logo-container {
    /* display: inline-block; */
    height: 120px;
    /* padding: 0 15px; */
}

.my-logo-container img {
    height: 100%;
}

/* deploy and scale */
.my-li-item {
    border-top: none;
    border-right: none;
    border-bottom: none;
}

.my-li-item:first-child,
.my-li-item:last-child {
    border-radius: 0;
}

/* utility classes */
.visible-element {
    min-height: 200px;
    border: 1px solid black;
}

.h-200 {
    min-height: 200px;
}