main > section {
    padding: 50px 0;
}

.text-white {
    color: white
}

.text-grey {
    color: #77839d;
}

.bg-lightgrey {
    background-color: #f3f5f9;
}

.bg-white {
    background-color: white;
}

/* header */
.nav-logo {
    max-height: 25px;
}

.my-navbar-left {
    padding-left: 100px;
}

.my-navbar {
    margin-bottom: 0;
}

.my-navbar a {
    color: #031c4e;
}

/* hero section */
.hero-section {
    background-image: url(../img/bg-banner-home.jpg);
    background-size: cover;
}

/* logo banner */
.my-logo-container {
    /* display: inline-block; */
    height: 120px;
    /* padding: 0 15px; */
}

.my-logo-container img {
    height: 100%;
}

/* deploy and scale */
.my-li-item {
    border-top: none;
    border-right: none;
    border-bottom: none;
}

.my-li-item:first-child,
.my-li-item:last-child {
    border-radius: 0;
}

/* slider 1 */
.my-img {
    width: 100%;
}

.my-circle {
    display: inline-block;
    border: 1px solid #006aff;
    border-radius: 50%;
    height: 10px;
    width: 10px;

}

.my-blue-circle {
    background-color: #006aff;
}

.my-all-slider-container {
    width: 70%;
}

.my-arrow-left,
.my-arrow-right,
.my-img-slider-container {
    display: inline-block;
    vertical-align: middle;
}

.my-arrow-right,
.my-arrow-left {
    width: 9%;
}

.my-img-slider-container {
    width: 80%;
}

.my-arrow {
    font-size: 30px;
}

/* .my-arrow {
    font-size: 50px;
} */

.my-img-slider-container {

    padding: 0 20px;
}

/* customers */
.customer-section {
    background-color: #003fbb;
}

/* customers tab */
.my-table tr:first-child>td {
    border-top: 0;
}

.text-lightblue {
    color: #a7b9e4;
}

/* utility classes */
.visible-element {
    min-height: 200px;
    border: 1px solid black;
}

.h-200 {
    min-height: 200px;
}

